.sidebar
  .section-title Сайдбар
  ul.acco
    li.acco__item
      a.acco__trigger(href='#') триггер1
      ul.acco
        li.acco__item
          a.acco__trigger(href='#') триггер1
          ul.acco__content
            li.acco__content-item Пункт 1
            li.acco__content-item Пункт 2
            li.acco__content-item Пункт 3
            li.acco__content-item Пункт 4
        li.acco__item
          a.acco__trigger(href='#') триггер2
          ul.acco__content
            li.acco__content-item Пункт 1
            li.acco__content-item Пункт 2
            li.acco__content-item Пункт 3
            li.acco__content-item Пункт 4
        li.acco__item
          a.acco__trigger(href='#') триггер3
          ul.acco__content
            li.acco__content-item Пункт 1
            li.acco__content-item Пункт 2
            li.acco__content-item Пункт 3
            li.acco__content-item Пункт 4